.navbar-brand {
  overflow-x: hidden; }
  .navbar-brand img {
    width: 20%;
    height: 70px; }

.navbar-toggler:hover + #navbarNavAltMarkup {
  display: block; }

@media (max-width: 800px) {
  .navbar-brand img {
    width: 100%; } }
.fondo {
  height: 340px; }
  .fondo img {
    width: 100%; }

.fondo2 {
  display: none; }

.texto {
  width: 50%;
  transform: translate(129px, -323px); }
  .texto h3 {
    color: white; }
  .texto p {
    color: white; }

.Foto2 {
  height: 200px; }
  .Foto2 h2 {
    position: absolute;
    z-index: -1;
    color: white;
    transform: translate(34px, 119px); }
  .Foto2 .Foto2_1 {
    position: absolute;
    z-index: -2;
    width: 100%; }
  .Foto2 .Foto2_2 {
    display: none; }

@media (max-width: 800px) {
  .fondo {
    display: none; }

  .fondo2 {
    display: block; }
    .fondo2 img {
      width: 100%; }

  .Foto2 {
    display: block;
    height: 156px; }
    .Foto2 h2 {
      display: none; }
    .Foto2 .Foto2_1 {
      display: none; }
    .Foto2 .Foto2_2 {
      width: 100%;
      display: block; } }
.titulos {
  display: inline-flex;
  margin: 0;
  width: 100%;
  padding: 10PX;
  height: 70px;
  background-color: #f8f9fa;
  border: solid 1px lightgray;
  font-weight: bold; }
  .titulos h2 {
    padding: 9px;
    margin: 0;
    font-size: larger; }

#Cursos {
  display: none; }

.btn-group {
  display: none; }

.cuerpo {
  height: 547px; }
  .cuerpo .centro {
    margin: 0 50px;
    position: absolute; }
    .cuerpo .centro img {
      width: 100%;
      height: 470px; }

.clases {
  margin: 0 49px;
  height: 68px;
  display: block;
  padding: 6px; }
  .clases .dropdown {
    width: 12%;
    position: relative;
    display: inline-block; }
    .clases .dropdown .dropbtn {
      border: 0;
      background-color: gainsboro;
      color: black;
      padding: 16px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      text-align: left; }
  .clases .dropdown-content {
    transform: translate(77px, -54px);
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .clases .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }

.planes {
  height: 116px; }
  .planes .dropdown {
    margin: 9px;
    width: 11%; }
    .planes .dropdown .dropbtn {
      background-color: gainsboro;
      height: 47px;
      width: 100%; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

@media (max-width: 800px) {
  .cuerpo {
    display: none; }

  .btn-group {
    display: block; }

  #Cursos {
    display: block; } }
body {
  font-family: 'Source Sans Pro', sans-serif; }

.Todo {
  margin: 20px; }
  .Todo .UNIDAD {
    margin: 50PX; }
    .Todo .UNIDAD .mb-1 {
      width: 20%;
      height: 150px; }
    .Todo .UNIDAD .botonera {
      padding: 8px; }
      .Todo .UNIDAD .botonera ul {
        display: block;
        width: 100%;
        padding: 0; }
        .Todo .UNIDAD .botonera ul li {
          display: block;
          width: 30%; }
          .Todo .UNIDAD .botonera ul li a {
            text-decoration: none; }
        .Todo .UNIDAD .botonera ul img {
          width: 13%;
          margin: 11px; }

.UNIDAD_2, .UNIDAD_3, .UNIDAD_4 {
  display: none; }

@media (max-width: 800px) {
  .Todo {
    margin: 0px; }
    .Todo .UNIDAD {
      margin: 0; }
      .Todo .UNIDAD .card-body .botonera {
        padding: 0; }
        .Todo .UNIDAD .card-body .botonera .iconos_uno {
          padding: 0;
          display: block; }
          .Todo .UNIDAD .card-body .botonera .iconos_uno li {
            width: 100%; }
            .Todo .UNIDAD .card-body .botonera .iconos_uno li img {
              width: 12%; }
          .Todo .UNIDAD .card-body .botonera .iconos_uno iframe {
            width: 100%;
            padding: 34px 0; }
      .Todo .UNIDAD .card-body_img img {
        width: 23%;
        height: 68px; } }
.Complementario {
  margin-left: 15%;
  display: inline-flex;
  width: 100%; }
  .Complementario .card {
    width: 20%;
    margin: 20px; }
    .Complementario .card img {
      display: block;
      height: 180px; }

@media (max-width: 800px) {
  .Complementario {
    margin: 0;
    display: block; }
    .Complementario .card {
      width: 100%;
      margin: 0; }
      .Complementario .card img {
        padding: 2px 54px; } }
footer {
  text-align: center;
  padding: 9px;
  background-color: #c1c1c1; }
  footer h1 {
    color: rgba(0, 0, 0, 0.589);
    font-size: x-large; }
  footer p {
    color: rgba(0, 0, 0, 0.432); }
  footer ul li {
    display: block; }
    footer ul li img {
      padding: 5px;
      width: 3%; }
    footer ul li a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.432);
      padding: 5px; }

/*# sourceMappingURL=main.css.map */
